    <div id="up-to-top" class="row">
      <div class="small-12 columns" style="text-align: right;">
        <a class="iconfont" href="#top-of-page">&#xf108;</a>
      </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <footer id="footer-content" class="bg-grau">
      <div id="footer">
        <div class="row">
          <div class="small-6 medium-6 large-5 columns">
            <div class="shadow-black">{{ site.data.language.info_website }}</div>

            <p>
	    {{ site.description }}<br>
	    <a href="{{ site.url }}{{ site.baseurl }}/about/">{{ site.data.language.more }}</a><br>
	    <big><a href="mailto:contact.cni@iisc.ac.in">contact.cni@iisc.ac.in</a></big>
            </p>
          </div><!-- /.large-6.columns -->
          
	  <div class="small-6 medium-6 large-6 columns">
            <ul class="inline-list">
		    <li><a href="https://iisc.ac.in" target="_blank" title="IISc"><img src="{{ site.url }}{{ site.baseurl }}/assets/img/Logos/IISc_logo.png" style="width:auto;height:70px"></a></li>
	      <li><a href="https://eecs.iisc.ac.in" target="_blank" title="EECS"><img src="{{ site.url }}{{ site.baseurl }}/assets/img/Logos/ece_logo.jpg" style="width:auto;height:70px"></a></li>
              <li><a href="https://cps.iisc.ac.in" target="_blank" title="RBCCPS"><img src="{{ site.url }}{{ site.baseurl }}/assets/img/Logos/cropped-BCCPS-Logo.png" style="width:auto;height:70px"></a></li>
              <li><a href="https://www.cisco.com/c/en_in/about/csr.html" title="Cisco CSR" target="_blank"><img src="{{ site.url }}{{ site.baseurl }}/assets/img/Logos/Cisco-CSR-Logos-horiz-300x78.jpg" style="width:auto;height:70px"></a></li>
            </ul>
          </div><!-- /.large-3.columns -->
        </div><!-- /.row -->

      </div><!-- /#footer -->


      <div id="subfooter">
        <nav class="row">
          <section id="subfooter-left" class="small-12 medium-6 columns credits">
            {{ site.credits }}
          </section>

          <section id="subfooter-right" class="small-12 medium-6 columns">
            <ul class="inline-list social-icons">
            {% for social_item in site.data.socialmedia %}
              <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
            {% endfor %}
            </ul>
          </section>
        </nav>
      </div><!-- /#subfooter -->
    </footer>
