<aside>
<span class="show-for-xxlarge-only">
<a class="twitter-timeline" data-width="300" data-height="500" href="https://twitter.com/varkeymjohn/lists/1493072210042720261?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</span>
<span class="show-for-xlarge-only">
<a class="twitter-timeline" data-width="300" data-height="500" href="https://twitter.com/varkeymjohn/lists/1493072210042720261?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</span>
<span class="show-for-large-only">
<a class="twitter-timeline" data-width="250" data-height="500" href="https://twitter.com/varkeymjohn/lists/1493072210042720261?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</span>
<span style="width:fit-content;margin:0 auto" class="show-for-medium-only">
<a class="twitter-timeline" data-width="200" data-height="500" href="https://twitter.com/varkeymjohn/lists/1493072210042720261?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</span>
<span style="width:fit-content;margin:0 auto" class="show-for-small-only">
<a class="twitter-timeline" data-width="300" data-height="500" href="https://twitter.com/varkeymjohn/lists/1493072210042720261?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</span>
</aside>
