
<a href="{{ seminar.url | relative_url }}">
<div class="container  rounded shadow seminar-container">
  <br>
  <div class="row">
    <div class="col">
      {%- if seminar.img -%} 
      <img src="/{{ seminar.img }}" width="500"/>
       
      {%- else if seminar.recorded_video -%} 
      <iframe width="500" style="aspect-ratio: 16/9;" src="https://www.youtube.com/embed/{{seminar.recorded_video}}"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      
      {%- endif -%}
    </div>

    
    <div class="col-sm">
      <div class="post-title">
      {%- if seminar.title -%} 
        <b>
          <a href="{{ seminar.url | relative_url }}">{{ seminar.title }}</a>
        </b>
      {%- endif -%}
      </div>
      <br>
      <div class="caption">
        
        {%- if seminar.speaker -%}
            {%- if seminar.speaker_url -%}
            <a href="{{ seminar.speaker_url }}">
             {{ seminar.speaker }}
             </a>
             {%- else -%}
             {{ seminar.speaker }}
             {%- endif -%}
            {%- endif -%}
      </div>
      <br>

      <div class="caption">
        {%- if seminar.description -%} 
          {{ seminar.description }}
        {%- endif -%}
      </div>
      <div class="caption">
        {%- if seminar.date > cdate -%}
        {%- if seminar.venue -%} 
          <b>Venue:</b> {{ seminar.venue }}
        {%- endif -%}
        {%- endif -%}
      </div>
      <div class="row">
      <div class="more_authors_text">
        <br>
        
        {%- if seminar.date > cdate -%} 
        {%- if seminar.zoom_link -%}  
          <a href="{{ seminar.zoom_link }}" class="btn btn-outline-primary btn-md active" role="button" aria-pressed="true"><b>Join on ZOOM</b></a>
        {%- endif -%}
        {%- endif -%}
      </div>
      <div class="more_authors_text">
        <br>
        {%- if seminar.recorded_video -%}  
          <a href="https://youtu.be/{{ seminar.recorded_video }}" class="btn btn-red btn-md active red" role="button" aria-pressed="true"><b>Youtube</b></a>
       
        {%- endif -%}
      </div>
      </div>

    </div>
  </div>
  <br>
  
</div>
</a>