---
layout: compress
---
<!doctype html>
<html class="no-js" lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>
	{% include _head.html %}
<style>
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
</style>
</head>
<body id="top-of-page" class="{{ layout.format }}">
	{% unless page.skip_boilerplate %}
	{% include _navigation.html %}
	{% endunless %}
	{% if layout.format!="frontpage" %}	
	{% include _masthead.html %}
	{% endif %}
	{{ content }}

	{% unless page.skip_boilerplate %}
	{% include _footer.html %}
	{% endunless %}

	{% include _footer_scripts.html %}
	<script>document.getElementById("defaultOpen").click();
	function clickTab(evt, tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();

function AbstractToggle(divID) {
  var x = document.getElementById("Abstract"+divID);
  var y = document.getElementById("BibTeX"+divID);
  var m = document.getElementById("buttona"+divID);
  var n = document.getElementById("buttonb"+divID);
  if (x.style.display === "none") {
    x.style.display = "block";
    m.style.backgroundColor = "#293e4a";
    m.style.color = "white";
    n.style.backgroundColor = "white";
    n.style.color = "black";
  } else {
    x.style.display = "none";
    m.style.backgroundColor = "white";
    m.style.color = "black";
  }
  if (y.style.display === "block") {
    y.style.display = "none";
  }
}
function BibTeXToggle(divID) {
  var x = document.getElementById("Abstract"+divID);
  var y = document.getElementById("BibTeX"+divID);
  var m = document.getElementById("buttona"+divID);
  var n = document.getElementById("buttonb"+divID);
  if (y.style.display === "none") {
    y.style.display = "block";
    n.style.backgroundColor = "#293e4a";
    n.style.color = "white";
    m.style.backgroundColor = "white";
    m.style.color = "black";
  } else {
    y.style.display = "none";
    n.style.backgroundColor = "white";
    n.style.color = "black";
  }
  if (x.style.display === "block") {
    x.style.display = "none";
  }
}
	</script>
</body>
</html>
