---
layout: default
---




<div class="newsletter border">
  <div class="row">
    <div class="col-md-10">
      <img src = "/assets/img/Logos/CNI Final logo_bw.png" width="35%" >
    </div>


    <div class="col-md-2">
      <img src="/assets/img/Logos/IISc_Master_Seal_Transparent.png" width="100%" align="right">

    </div>
  </div>
  <hr>

  <div class="col-md-12" style="align-content: center;">
    <h1 class="newsletter-title" >Newsletter - February 2023</h1>
  </div>

  <hr>

  <div class="newsletter-text" style="background-color: aliceblue;">
    Welcome to the February edition of CNI Newsletter. 
    <br>
    This newsletter annunciates information about various CNI activities of the month.

  </div>
  
  <h2>Visitors</h2>
  <div class="visitors-card container border row">
    <div class="visitor-pic col-md-2">
      <img src="/assets/img/newsletter/Dheeraj-Narasimha-website-150x150.jpg"/>
    </div>
    <div class="visitor-text col-md-10">
      Dr Narasimha has a Bachelor's degree from the Birla Institute of Technology, Goa, and a PhD in Electrical Engineering from Arizona State University. During his visit, Dr Narasimha worked closely with Prof. Srinivas Shakkottai and Prof. Dileep Kalathil and made significant contributions to our research programs. We would like to thank Dr Narasimha for his valuable contributions to our centre and wish him all the best in his future endeavours.
    </div>

  </div>

  <br>
  <h2>Upcoming Speakers</h2>

  <div class="row">
    <div class="col-md-2">Name</div>
    <div c

  </div>








</div>