---
layout: default
---




<div class="newsletter border">
  <div class="row">
    <div class="col-md-10">
      <img src = "/assets/img/Logos/CNI Final logo_bw.png" width="35%" >
    </div>


    <div class="col-md-2">
      <img src="/assets/img/Logos/IISc_Master_Seal_Transparent.png" width="100%" align="right">

    </div>
  </div>
  <hr>

  <div class="col-md-12" style="align-content: center;">
    <h1 class="newsletter-title" >Newsletter - February 2023</h1>
  </div>

  <hr>

  
  <h2 class="newsletter-title">Visitors</h2>
  <div class="visitors-card media">
    <div class="visitor-pic col-md-3">
      <img src="/assets/img/newsletter/Dheeraj-Narasimha-website-150x150.jpg"/>
    </div>
    <div class="visitor-text col-md-9">
      Dr Narasimha has a Bachelor's degree from the Birla Institute of Technology, Goa, and a PhD in Electrical Engineering from Arizona State University. 
      He is currently a postdoctoral fellow at Texas A&M University, where he works closely with Prof. Srinivas Shakkottai and Prof. Dileep Kalathil. He visited CNI from Feb 06- Mar 13, 2023 to  and had research interactions with the center faculty and staff. 
    </div>

  </div>

  <hr>
  <h2 class="newsletter-title">Talks and Seminars</h2>

  <div class="sem-post-newsletter">
    <div class="sem-title">
      <a href="https://cni.iisc.ac.in/seminars/2023-02-07/">
    
        UGIF :- UI Grounded Instruction Following by <b>Sagar Gubbi Venkatesh</b> from Google
      </a>
    <div class="nl-text">
      Dr Sagar talked about the natural language-based instruction
       following agent that helps new smartphone users learn how to
        use the phone on their own. The proposed system parses instructions 
        from support sites using Large Language Models (LLMs) and generates
         macros which can be executed when the user asks queries.
    </div>
    
  </div>
  </div>
<hr>
  <div class="sem-post-newsletter">
    <div class="sem-title">
      <a href="https://cni.iisc.ac.in/seminars/2023-02-14/">
    
        Coding Schemes For Input-Constrained Channels by <b>V. Arvind Rameshwar</b> from IISc
      </a>
      <br>
    </div>
    <div class="nl-text">
      The talk considered the construction of coding schemes over binary-input channels with input constraints. The focus was on two different channel models: random noise and adversarial noise channels. In each setting, the main questions sought to be addressed were the construction of explicit coding schemes and the derivation of good bounds on the rates achievable for a given amount of noise. 
    </div>
    <div class="newsletter-ytube">
      <a href="https://youtu.be/6gDEKAib_8s" class="btn btn-red btn-md active red" role="button" aria-pressed="true"><b>Youtube</b></a>
    </div>
  </div>
    

  <hr>

  <div class="sem-post-newsletter">
    <div class="sem-title">
      <a href="https://cni.iisc.ac.in/seminars/2023-02-21/">
    
        RF Beyond Communication:- New Opportunities for Human Sensing with mmWave by <b>Sandip Chakraborty</b> from IIT Kharagpur
      </a><br>
    </div>
      
      <div class="nl-text">
        In this talk, the speaker discussed how mmWave sensing could be leveraged to develop smart space, where the environment can sense the human beings within it and respond accordingly. He also discussed specific use cases, like how your car can seamlessly monitor the dangerous driving behaviours of its driver and respond accordingly without requiring any camera or sensors to be deployed on the driver’s body.

      </div>
    <div class="newsletter-ytube">
      <a href="https://youtu.be/wwtF7nnch2M" class="btn btn-red btn-md active red" role="button" aria-pressed="true"><b>Youtube</b></a>
    </div>
  </div>
    

  <hr>

  <div class="sem-post-newsletter">
    <div class="sem-title">
      <a href="https://cni.iisc.ac.in/seminars/2023-02-28/">
    
        Finite time analysis of temporal difference learning with linear function approximation:- Tail averaging and regularisation by <b>L A Prashanth</b> from IIT Madras
      </a>

    </div>
      <br>
      <div class="nl-text">
        The talk considered the finite-time behaviour of a popular temporal difference (TD) learning algorithm when combined with tail-averaging. The speaker also talked about the finite-time bounds on the parameter error of the tail-averaged TD iterate under a step size choice that does not require information about the eigenvalues of the underlying matrix used in the TD fixed point. The speaker suggests that future work should focus on extending the analysis to other TD algorithms, such as SARSA and Q-learning.
      </div>
    <div class="newsletter-ytube">
      <a href="https://youtu.be/Gf1nE9uUcxw" class="btn btn-red btn-md active red" role="button" aria-pressed="true"><b>Youtube</b></a>
  </div>
  
  <hr>

</div>