---
layout: default
---
<!-- page.html -->
<!-- {% include breadcrumbs.html %} -->
        <div class="post">

          <header class="post-header">
            <center>
            <h1 class="post-title">{{ page.title }}</h1>
            <h3 class="caption">{{ page.speaker }}</h3>
          </center>
          </header>

        
            {%- if page.report_video -%} 
              <iframe width="100%" height="350" src="https://www.youtube.com/embed/{{ page.report_video }}"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            {%- endif -%}
          
          <br>
          <hr>
          <br>
          <article style="text-align: justify;">
            {{ content }}
          </article>

        </div>
