---
layout: default
---

<!-- home.html -->

      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
          </h1>
          <!-- <p class="desc">{{ page.subtitle }}</p> -->
        </header>
<br>
        <article>
          {% if page.profile -%}
          
            
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

          


{% if page.blog -%}
            <!-- <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">Updates</a></h2> -->
            <br>
            {%- include blog.html %}
            <center><a href="{{ '/blog/' | relative_url }}" style="color: rgb(3, 32, 163);">more updates ...</a></center>
            <br>
          {%- endif %}

{% if page.selected_papers -%}
            <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">Highlighted publications</a></h2>
            {%- include selected_papers.html %}
{%- endif %}
<hr>

 


  <!-- Sponsors and Supporters -->

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <b>Sponsored by:</b>
      </div>
      <div class="col-md-6">
        <b>Supported by:</b>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">
        <img src="{{ site.url }}{{ site.baseurl }}/assets/img/Logos/Cisco CSR Logos-TM-vert.png" height="100"/>
      </div>
      <div class="col-md-3">
        <img src="{{ site.url }}{{ site.baseurl }}/assets/img/IISc_logo-150x150.png" height="100"/>
      </div>
      <div class="col-md-2">
        <img src="{{ site.url }}{{ site.baseurl }}/assets/img/Logos/cropped-BCCPS-Logo.png" height="100"/>
      </div>
      <div class="col-md-3">
        <img src="{{ site.url }}{{ site.baseurl }}/assets/img/Logos/ece_logo.jpg" height="100"/>
      </div>
    </div>
  </div>

<br>
<hr>

          <!-- Social -->
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.html %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>
              
            </div>
          {%- endif %}
        </article>

</div>

