---
layout: default
---

{%- assign cdate = site.time  -%}
{%- assign mdate = page.month 01, page.year | date:"%y-%m-%d"  -%}

{%- assign mlastdate = mdate | date:"%m"  -%}


<div class="newsletter border">

    <h1>
        The CNI newsletter {{ page.month }} {{ page.year }}
    </h1>
    <hr>
    <h2>
        Visitors
    </h2>
    <h2>
        Upcoming seminars
    </h2>
    <div class="seminars">
        <div class="container">
          {%- for seminar in site.seminars -%}
            {%- if seminar.date > cdate -%}
            {%- assign seminar.upcoming = true -%}
               
              {% include seminars_horizontal.html %}
            {%- endif -%}
          {%- endfor %}
        </div>
      </div>
    <h2>
        Past seminars
    </h2>
    <div class="seminars">
        <div class="container">
          {%- for seminar in site.seminars -%}
          
            {%- if seminar.date | "%y-%m-%d" >= mdate -%}
            {%- assign seminars.upcoming = false -%}
              {{ seminar.title }}
              <br>
            {%- endif -%}
          {%- endfor %}
        </div>
      </div>




</div>