---
layout: default
---
<!-- page.html -->
<!-- {% include breadcrumbs.html %} -->

{%- assign cdate = site.time  -%}
        <div class="post">

          <header class="post-header">
            <center>
              
            <h1 class="post-title">{{ page.title }}</h1>
            
            <p class="post-description"># {{ page.n }} {{ page.description }}</p>
          </center>
          </header>
          <br>
          <hr>

          {%- if page.recorded_video -%}
          <iframe width="100%" style="aspect-ratio: 16/9;" src="https://www.youtube.com/embed/{{ page.recorded_video }}"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>

          </iframe>
          {%- elsif page.img -%}
          <img src="/{{ page.img }}" width="100%">
          {%- endif -%}
          
          <div class="more_authors_text" style="text-align: center;">
            <br>
            
            {%- if page.date > cdate -%} 
            {%- if page.zoom_link -%}  
              <a href="{{ page.zoom_link }}" class="btn btn-outline-primary btn-md active" role="button" aria-pressed="true"><b>Join on ZOOM</b></a>
            {%- endif -%}
            {%- endif -%}
          </div>
          <div class="more_authors_text" style="text-align: center;">
            <br>
            
            {%- if page.slides -%}  
              <a href="{{site.baseurl}}/assets/slides/nss/{{ cdate | date: '%Y'}}/{{ cdate | date: '%B'}}/{{ page.slides }}" target="_blank" class="btn btn-outline-secondary btn-md active" role="button" aria-pressed="true"><b>Slides</b></a>
            {%- endif -%}
          </div>
          <br>

          <div style="text-align: justify;">
          <h2><b>Abstract</b></h2>
          <article>

            {%- if page.Topic_abstract -%}
            {{ page.Topic_abstract }}
            {%- else -%}
            {{ content | markdownify }} 
            {%- endif -%}
            
          </article>
          <br>
          <h2><b> The Speaker </b></h2>
          <article>
            {{ page.speaker_bio }}
          </article>
          <!-- <article>
            {{ content }}
          </article> -->
        </div>
        </div>
