---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header">
            <center>
            <h1 class="post-title">{{ page.title }}</h1>
            <p> Advised by:- {{ page.advisor }}</p>
            
            <p class="post-description">{{ page.description2 }}</p>
          </center>
          </header>
          
          <article>
            

            <div class="card-img col-md-6">

              
              
            </div>
  
            {{ content }}
          </article>

        </div>
